* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  display: flex;
  background-color: #7c5340;
  color: white;
  justify-content: center;
  padding: 15px;
}

main {
  display: flex;
}

button:hover {
  font-weight: bold;
}

.input_section {
  display: flex;
  flex-direction: column;
  background-color: #ecdfd1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
  flex-basis: 40%;
  max-height: 350px;
}
.input_section h2 {
  text-align: center;
}

.input_section .input {
  margin: 10px;
}

.input_section button {
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.input_section .input input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.input_section .input_inline {
  display: flex;
  align-items: center;
  margin: 10px;
}

.input_section .input label {
  font-weight: bold;
}

.input_section .input_inline label {
  font-weight: bold;
  margin-left: 10px;
}

.library_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  flex-basis: 60%;
  background-color: #ecdfd1;
}

.search_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search_section form {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search_section form input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  flex-basis: 100%;
  margin: 0px 15px 0px 5px;
}

.bookshelf {
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option_bar {
  display: flex;
  flex-direction: row;
}

.option_bar h3 {
  flex-basis: 50%;
  color: black;
  background-color: #e0ab80;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  border: 0;
}

.option_bar h3:hover {
  font-weight: bold;
}

.option_bar h3.open {
  background-color: white;
  font-weight: bold;
}

.selected {
  background-color: #ae8165;
  color: white;
}

hr {
  width: 98%;
  text-align: center;
  margin-left: 8px;
  opacity: 0.4;
}

.bookshelf_list {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  overflow: auto;
  max-height: 300px;
}

#incompleteBookshelf, #completeBookshelf{
  min-height: 100px;
}

.book_list {
  background-color: white;
}

.book_item {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.book {
  flex-basis: 50%;
}

.action {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.action button {
  flex-basis: 100%;
  margin: 5px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  color: white;
}

.finishButton {
  background-color: green;
}

.deleteButton {
  background-color: red;
}

.notFinishButton {
  background-color: cornflowerblue;
}

@media screen and (max-width:800px){
  main{
    flex-direction: column;
  }
}

@media screen and (min-height:1000px) {
  main{
    flex-direction: column;
  }
}